{% extends 'myapp/base.html' %} {% block content %}
<h1>Welcome {{request.user}}</h1>

<h3>Chatbots Created by {{ user.username }}</h3>

<table border="5" cellpadding="2" cellspacing="2">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            PDF
        </th>
        <!-- <th>
            API KEY
        </th> -->
        <th>
            Data Path
        </th>
        <th>
            Chatbot Link
        </th>
    </tr>

    {% for cluster in user_clusters %}
    <tr>
        <td>{{ cluster.id }}</td>
        <td>{{ cluster.name }}</td>
        <td>{{ cluster.txt_file.url }}</td>
        <!-- <td>{{cluster.openai_api_key}}</td> -->
        <td>{{cluster.chroma_db_directory}}</td>
        <td>{{url}}{{cluster.get_absolute_url}}?q=</td>
    </tr>
    {% endfor %}
</table>

</ul>

{% endblock %}